@import "src/styles/variables/custom-variables";

.main {
    padding: 2rem;
    // Add missing properties

    .header {
        font-size: medium;
        font-weight: $font-weight-bold;
    }

    .addBtn {
        padding: 1rem;
    }
}

:host {
    .data-table {
        padding: 2rem;

        .mat-mdc-row:hover {
            background-color: $color-basic-gray-200;
            cursor: pointer;
        }
    }
}
