@import "src/styles/variables/custom-variables";

.main {
    padding: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    .header {
        font-size: medium;
        font-weight: $font-weight-bold;
    }

    .addBtn {
        padding: 1rem;
        background-color: $color-primary-blue-extra-light;
        color: $color-basic-gray-500;
        outline: none;
        border: none;
        border-radius: 10px;
        transition: transform .3s ease-in-out;
        
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}

:host {
    .data-table {
        padding: 2rem;

        .mat-mdc-row:hover {
            background-color: $color-basic-gray-200;
            cursor: pointer;
        }
    }
}
