<ng-template>
    <div class="date-picker"
         [ngClass]="{'mat-error-required': selectedDate.hasError('required') && !disabled ||
         !selectedDate.hasError('required') && selectedDate.errors && !disabled}">
        <mat-form-field [ngClass]="{'disabled' : disabled}">
            <mat-label class="mat-label">{{dateLabel}}</mat-label>
            <input
                matInput
                [placeholder]="datePlaceholder"
                [matDatepicker]="datePicker"
                [min]="minDate"
                [max]="maxDate"
                (dateChange)="onDateChange($event.target.value)"
                [formControl]="selectedDate"
                [readonly]="true"
                autocomplete="off"
            />
            <mat-datepicker-toggle [for]="datePicker" [disabled]="disabled"></mat-datepicker-toggle>
            <mat-datepicker #datePicker>
                <mat-datepicker-actions>
                    <div class="mat-footer">
                        <button mat-button class="mat-footer__cancel" matDatepickerCancel>Annuleren</button>
                        <button mat-raised-button class="mat-footer__apply" matDatepickerApply>
                            Ok
                        </button>
                    </div>
                </mat-datepicker-actions>
            </mat-datepicker>
            <mat-error *ngIf="selectedDate.hasError('required') && !disabled" class="mat-error">
                This field is required.
            </mat-error>
            <mat-error *ngIf="!selectedDate.hasError('required') && !disabled
                        || !selectedDate.hasError('required') && selectedDate.errors && !disabled"
                       class="mat-error">
                Invalid date.
            </mat-error>
        </mat-form-field>
    </div>
</ng-template>
