@use '@angular/material' as mat;
@import "./variables/custom-variables";

// Templates
@import "./templates/layout";
@import "./templates/containers";
@import "./templates/lists";
@import "./templates/columns";
@import "./templates/buttons";
@import "./templates/mat-card";
@import "./templates/mat-form-field";
@import "./templates/mat-table";
@import "./templates/typography";

html {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: $font-size-base;
}

body {
    margin: 0;
}



