/*  SECTIONS  */

// The point at which columns will stack to blocks and
// hidden-on-break will activate
$break-point: 768px;

.columns {
  clear: both;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 100%;

  /*  GROUPING  */

  .column-group {
    zoom: 1; /* For IE 6/7 */

    &:before,
    &:after {
      content: "";
      display: table;
    }

    &:after {
      clear: both;
    }
  }

  /*  COLUMN SETUP  */

  .col {
    display: block;
    float: left;
    margin: 0 0 0 1.2%;
    min-height: 1px; // For empty columns

    @media (max-width: $break-point) {
      float: none;
      width: 100% !important;
      margin: 0;

      &.hide-on-break {
        display: none;
      }
    }

    &:first-child {
      margin-left: 0;
    }

    /*  GRID OF TWELVE  */

    &.span-12-of-12 {
      width: 100%;
    }

    &.span-11-of-12 {
      width: 91.56%;
    }

    &.span-10-of-12 {
      width: 83.13%;
    }

    &.span-9-of-12 {
      width: 74.7%;
    }

    &.span-8-of-12 {
      width: 66.26%;
    }

    &.span-7-of-12 {
      width: 57.83%;
    }

    &.span-6-of-12 {
      width: 49.4%;
    }

    &.span-5-of-12 {
      width: 40.96%;
    }

    &.span-4-of-12 {
      width: 32.53%;
    }

    &.span-3-of-12 {
      width: 24.1%;
    }

    &.span-2-of-12 {
      width: 15.66%;
    }

    &.span-1-of-12 {
      width: 7.233%;
    }
  }
}

/*  GO FULL WIDTH BELOW 720 PIXELS */
@media only screen and (max-width: 720px) {
  .col {
    margin: 1% 0 1% 0;
  }

  .span-1-of-12,
  .span-2-of-12,
  .span-3-of-12,
  .span-4-of-12,
  .span-5-of-12,
  .span-6-of-12,
  .span-7-of-12,
  .span-8-of-12,
  .span-9-of-12,
  .span-10-of-12,
  .span-11-of-12,
  .span-12-of-12 {
    width: 100%;
  }
}
