.mat-form-field-appearance-outline .mat-form-field-prefix,
.mat-form-field-appearance-outline .mat-form-field-suffix {
  top: 0 !important;
}

.mat-form-field-appearance-outline {
  .mat-form-field-outline-start {
    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
  }

  .mat-form-field-outline-end {
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
  }

  .mat-form-field-outline-start,
  .mat-form-field-outline-gap,
  .mat-form-field-outline-end {
    border-width: 1px !important;
  }

  .mat-form-field-subscript-wrapper {
    padding-left: 0.5rem !important;
  }

  &.mat-form-field-value {
    &--medium {
      .mat-form-field-subscript-wrapper {
        position: unset;
      }
    }
  }
}

.mat-form-field-appearance-outline[dense] {
  .mat-form-field-flex {
    padding: 0 0.5em;
  }

  .mat-form-field-infix {
    padding: 0.5em 0;
  }

  .mat-form-field-subscript-wrapper {
    padding: 0;
    margin-top: 0.3em;
  }

  &.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.59375em) translateX(0.35em) scale(0.75);
  }

  &:not(.mat-form-field-should-float) .mat-form-field-label {
    margin-top: -0.75em;
  }
}

.mat-placeholder-required.mat-form-field-required-marker {
  display: none;
}
