@import "../variables/custom-variables";

.font {
    &-size {
        &-bigger {
            font-size: $font-size-bigger;
            line-height: $line-height-bigger;
        }

        &-big {
            font-size: $font-size-big;
            line-height: $line-height-big;
        }

        &-medium {
            font-size: $font-size-medium;
            line-height: $line-height-medium;
        }

        &-normal {
            font-size: $font-size-base;
            line-height: $line-height-base;
        }

        &-small {
            font-size: $font-size-small;
            line-height: $line-height-small;
        }
    }

    &-weight {
        &-normal {
            font-weight: $font-weight-normal !important;
        }

        &-medium {
            font-weight: $font-weight-medium !important;
        }

        &-bold {
            font-weight: $font-weight-bold !important;
        }
    }

    &-style-italic {
        font-style: italic !important;
    }
}

.text-color {
    &-basic {
        &-gray {
            color: $color-basic-gray-300 !important;
        }

        &-gray-medium-1 {
            color: $color-basic-gray-400 !important;
        }

        &-gray-medium-2 {
            color: $color-basic-gray-500 !important;
        }

        &-gray-dark {
            color: $color-basic-gray-700 !important;
        }

        &-black {
            color: $color-basic-gray-900 !important;
        }

        &-white {
            color: #ffffff
        }
    }

    &-primary {
        &-blue-dark {
            color: $color-primary-blue-dark !important;
        }

        &-blue-main {
            color: $color-primary-blue-main !important;
        }
    }
}

.text-whitespace-pre {
    white-space: pre-line;
}
