$color-basic-white: #ffffff;
$color-basic-gray-100: #f7f7f7;
$color-basic-gray-200: #eaecef;
$color-basic-gray-300: #c4c4c4;
$color-basic-gray-400: #989898;
$color-basic-gray-500: #6e757c;
$color-basic-gray-600: #747474;
$color-basic-gray-700: #495057;
$color-basic-gray-800: #292929;
$color-basic-gray-900: #212121;

$color-primary-orange-dark: #883709;
$color-primary-orange-main: #e46927;
$color-primary-orange-light: #e7b878;
$color-primary-orange-super-light: #e1c08d;

$primary-color: $color-primary-orange-main;
$secondary-color: $color-primary-orange-dark;

$font-size-base: 14px;
$line-height-base: 21px;
$font-size-small: $font-size-base * 0.875;
$line-height-small: $line-height-base * 0.875;
$font-size-medium-small: $font-size-base * 1.14;
$line-height-medium-small: $line-height-base * 1.14;
$font-size-medium: $font-size-base * 1.25;
$line-height-medium: $line-height-base * 1.25;
$font-size-big: $font-size-base * 1.5;
$line-height-big: $line-height-base * 1.5;
$font-size-bigger: $font-size-base * 1.75;
$line-height-bigger: $line-height-base * 1.75;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
