@import "@angular/material/theming";
@import "custom-variables";

@include mat-core();

$primary: mat-palette(
  (
    50: lighten($primary-color, 25%),
    100: lighten($primary-color, 20%),
    200: lighten($primary-color, 15%),
    300: lighten($primary-color, 10%),
    400: lighten($primary-color, 5%),
    500: $primary-color,
    600: darken($primary-color, 5%),
    700: darken($primary-color, 10%),
    800: darken($primary-color, 15%),
    900: darken($primary-color, 20%),
    contrast: (
      50: $color-basic-gray-900,
      100: $color-basic-gray-900,
      200: $color-basic-gray-900,
      300: $color-basic-gray-900,
      400: $color-basic-gray-900,
      500: $color-basic-white,
      600: $color-basic-white,
      700: $color-basic-white,
      800: $color-basic-white,
      900: $color-basic-white
    )
  )
);

$theme: mat-light-theme(
  (
    color: (
      primary: $primary,
      accent: $primary,
      warn: mat-palette($mat-red)
    ),
    typography: mat-typography-config(),
    density: 0
  )
);

@include angular-material-theme($theme);
